body{
    /* margin: auto; */
    margin: 0px;
    /* background-color: #d9b6ca; */
    background-color: #FAFAD2;
}
a{
    text-decoration: none;
}
/* header section */
header{
    height: 60px;
    /* border: 5px solid hotpink; */
    /* background-color: #3b2632; */
    background-color: #A0522D;

}
#brand{
    float: left;
    color: white;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
}
#social{
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}
.sociallogo{
    height: 50px;

}
/* responsive part start */
@media only screen and (max-width: 1400px) {
    body{
    background-color: #F5F5DC
}
    
}
@media only screen and (max-width: 1200px) {
    body{
    background-color: #BDB76B
}
}

@media only screen and (max-width: 1000px) {
    body{
        background-color: #DAA520;
    }
}

@media only screen and (max-width: 800px) {
    body{
        background-color: #808000;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: #FFDAB9;
    }
    #brand{
    font-size: 20px;
    margin-top: 3%;
    margin-left: 1%;
}
#social{
    margin-top: 3%;
    margin-right: 2%;
}
}