body{
    margin: auto;
    margin: 0px;
    background-color: #d9b6ca;
}
a{
    text-decoration: none;
}
/* header section */
header{
    height: 60px;
    /* border: 5px solid hotpink; */
    background-color: #3b2632;

}
#brand{
    float: left;
    color: white;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
}
#social{
    float: right;
}
.sociallogo{
    height: 50px;

}
/* main content */
#content{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 3%;
    /* border: 5px solid red; */
    display: inline-block;
}
.filter{
    height: 500px;
    width: 20%;
    border: 3px solid gray;
    float: left;
}
.restContent{
    height: 1000px;
    width: 70%;
    float: left;
    /* border: 3px solid orange; */
    margin-left: 7%;
    
}
/* product  */
#content1{
    width: 100%;
    height: 220px;
    display: flex;
    margin-left: 0%;
    /* margin-top: 2%; */
    /* border: 2px solid grey; */
    background-color: white;
    
}
#imgDiv{
    height: 220px;
    width: 35%;
    
}
#imgDiv> img{
    height: 100%;
    width: 100%;
}
#contentDiv{
    height: 550px;
    width: 47%;
    margin-left: 5%;
    margin-top: -2%;
}
.button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1{
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}
.button1:hover{
    background-color: #04AA6D;
    color: white;
}



/* footer section */
footer{
    /* height: 120px; */
    /* border: 5px groove green; */
    background-color: #3b2632;
    color: white;
    text-align: center;

}
.footText{
    font-size: 20px;
}
.footDiv{
    display: inline-block;
    width: 32%;
    border-right: 2px solid white;
}
.noBorder{
    border: none;
}
ul{
    list-style-type: none;
}