/* quick search section */
#quickSearch{
    /* height: 600px; */
    display: inline-block;
    /* border: 5px double orange; */
    /* background-color: #bb95ab; */
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    

}
.QuickHeading{
   color: #B8860B;
   font-size: 30px;
   font-weight: bold;
   display: block;
   margin-left: 2%;

}
.QuickHeading:hover{
    font-size: 35px;
    color: black;
}
.QuickSubHeading{
   color: #3b2632;
   font-size: 20px;
   line-height: 2;
   margin-left: 2%;
}
.tileContainer{
    height: 180px;
    width: 30%;
    margin-left: 2%;
    margin-top: 3%;
    /* border: 2px solid black; */
    box-shadow: 10px 20px 10px gray;
    float: left;
    animation: dance 15s infinite;
    background-color: white;
}
@keyframes dance{
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    /* 40%{
        transform: scale(1.1);
    } */
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

.tileContainer:hover{
    transform: scale(1.1);
    /* transform: skewX(30deg); */
    /* transform: rotate(70deg); */
    /* transform: translate(100px, 50px); */
}
.tileComponent1{
    width: 52%;
    float: left;
}
.tileComponent1> img{
    width: 100%;
    height: 180px;
}
.tileComponent2{
    width: 45%;
    float: left;
    margin-left: 2%;
    margin-top: 15%;
}
.compHeading{
    font-size: 25px;
    font-weight: bold;
    color: #3b2632;
}
.compHeading>a {
    color: #3b2632!important
}
.compSubHeading{
    font-size: 20px;
    color: gray;
}
/* start responsive */
@media only screen and (max-width: 600px) {
    #quickSearch{
        width: 100%;
        margin-left: 0%;
    }
    .tileContainer{
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        height: auto;
    }
    .tileComponent1, .tileComponent2{
        width: 100%;
        float: none;
        margin: 0%;
    }
    .tileComponent1> img{
        height: auto;
    }
    .compHeading{
        font-size: 20px;
    }
    .compSubHeading{
        font-size: 16px;
    }
}