/* quick search section */
#quickSearch{
    /* height: 600px; */
    display: inline-block;
    /* border: 5px double orange; */
    /* background-color: #bb95ab; */
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    

}
.QuickHeading{
   color: #B8860B;
   font-size: 30px;
   font-weight: bold;
   display: block;
   margin-left: 2%;

}
.QuickHeading:hover{
    font-size: 35px;
    color: black;
}
.QuickSubHeading{
   color: #3b2632;
   font-size: 20px;
   line-height: 2;
   margin-left: 2%;
}
.tileContainer{
    height: 180px;
    width: 30%;
    margin-left: 2%;
    margin-top: 3%;
    /* border: 2px solid black; */
    box-shadow: 10px 20px 10px gray;
    float: left;
    animation: dance 15s infinite;
    background-color: white;
}
@keyframes dance{
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    /* 40%{
        transform: scale(1.1);
    } */
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

.tileContainer:hover{
    transform: scale(1.1);
    /* transform: skewX(30deg); */
    /* transform: rotate(70deg); */
    /* transform: translate(100px, 50px); */
}
.tileComponent1{
    width: 52%;
    float: left;
}
.tileComponent1> img{
    width: 100%;
    height: 180px;
}
.tileComponent2{
    width: 45%;
    float: left;
    margin-left: 2%;
    margin-top: 15%;
}
.compHeading{
    font-size: 25px;
    font-weight: bold;
    color: #3b2632;
}
.compHeading>a {
    color: #3b2632!important
}
.compSubHeading{
    font-size: 20px;
    color: gray;
}
/* start responsive */
@media only screen and (max-width: 600px) {

    /* Main Section */
    #quickSearch {
        width: 100%;
        margin-left: 0;
        padding: 0 10px;        /* reduces edge-to-edge tightness */
        box-sizing: border-box;
    }

    /* Tile Container */
    .tileContainer {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
        height: auto;
        display: block;
    }

    /* Tile Components Stack Vertically */
    .tileComponent1,
    .tileComponent2 {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Images Expand Automatically */
    .tileComponent1 > img {
        width: 100%;     /* full width image */
        height: auto;    /* maintain aspect ratio */
        border-radius: 8px; /* optional clean look */
    }

    /* Heading Text Adjustment */
    .compHeading {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .compSubHeading {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}
